.highlighted-text {
  color: rgba(224, 99, 99, 0.85);
  /*  color: rgba(222, 221, 221, 0.85);  alternative colour */
}

.Love-highlighted-text{
  color: rgba(224, 99, 216, 0.85);
}

.plus-highlighted-text{
  color: rgba(220, 117, 186, 0.92);
}

.Sugar-highlighted-text{
  color: rgba(215, 135, 157, 1);
}

.equal-to-highlighted-text{
  color: rgba(219, 117, 128, 0.925);
}


.animated-gradient-btn {
  background: linear-gradient(
    90deg,
    rgba(224, 99, 99, 0.85) 0%,         /* solid red start */
    rgba(224, 99, 99, 0.85) 35%,        /* red holds till 35% */
    rgba(224, 99, 150, 0.85) 45%,       /* blend between red and purple */
    rgba(224, 99, 216, 0.85) 55%,       /* purple tone */
    rgba(255, 128, 200, 0.85) 70%,      /* pink */
    rgba(224, 99, 216, 0.85) 85%,       /* back to purple */
    rgba(224, 99, 150, 0.85) 95%,       /* blend before red again */
    rgba(224, 99, 99, 0.85) 100%        /* red again */
  );
  background-size: 600% 100%;
  animation: gradientShift 20s linear infinite;
  transition: transform 1s ease-in-out, animation-duration 0.3s ease-in-out;
  transform: scale(1);
  margin-right: 0.5rem;
}

.animated-gradient-btn:hover {
  transform: scale(1.1);
  animation: gradientShift 5s linear infinite;
}


@keyframes gradientShift {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
